<div>
    <button routerLink="/create-people" mat-raised-button color="primary">Add Information</button>
    <button routerLink="/" mat-raised-button color="warn" (click)="deleteIds()">Delete</button>

    <!-- Search -->
    <div class="search-section">
        <input type="search" placeholder="Name" [(ngModel)]="name">
        <input type="search" placeholder="Date of Birth" [(ngModel)]="dob">
        <button mat-icon-button color="primary" name="search" (click)="searchInfo(name, dob)">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="mat-elevation-z8 w-full">
        <table mat-table [dataSource]="dataSource">
            
            <!-- Checkbox Column -->
            <ng-container matColumnDef="selection">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="masterToggle()"></mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"></mat-checkbox>
                </td>
            </ng-container>
     
            <!-- Name Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="dob">
                <th mat-header-cell *matHeaderCellDef> Date Of Birth </th>
                <td mat-cell *matCellDef="let element"> {{element.dob | date: 'dd/MM/yyyy'}} </td>
            </ng-container>
         
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                     <button mat-raised-button color="primary" (click)="edit(element.id)"> Edit </button>
                </td>
            </ng-container>
            
            <!-- Define header and row -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <!-- Pagination -->
        <div class="pagination">
            <button mat-button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
            <span>Page {{currentPage}} of {{totalPages}}</span>
            <button mat-button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>
